<!-- home.html -->

{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}

<h1 class="titulo-pagina">COURSES</h1>
<h3>Academic courses</h3>
<div class="courses-lists">
    <ul>
        <li>Bachelor in Information Technology Management || 2023</li>
    </ul>
</div>
<table class="courses-tables" id="tables" border="0">
    <tr>
        <th width="300px" height="30px">Class from course</th>
        <th width="40px" height="30px">Year</th>
        <th width="80px" height="30px">Semester</th>
        <th width="45px" height="30px">Ects</th>
        <th width="105px" height="30px">Scholar year</th>
        <th width="70px" height="30px">Teacher</th>
        <th width="70px" height="30px">Ranking</th>
        <th width="60px" height="30px">Grade</th>
    </tr>
    <!--1ºANO 1ºSEMESTRE-->
    <tr>
        <td>Accountancy</td>
        <td>1</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Information Technology Management</td>
        <td>1</td>
        <td>1</td>
        <td>7</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mathematics I</td>
        <td>1</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Programming Fundamentals</td>
        <td>1</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Theory and Practice of Marketing</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--1ºANO 2ºSEMESTRE-->
    <tr>
        <td>bevarioral Competencies</td>
        <td>1</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Business Metrics</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Financial Calculus</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mathematics II</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Programming Languages</td>
        <td>1</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Computer Architecture</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--2ºANO 1ºSEMESTRE-->
    <tr>
        <td>Databases</td>
        <td>2</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Management Instruments</td>
        <td>2</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Operating Systems</td>
        <td>2</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Operational Research</td>
        <td>2</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Programming Languages II</td>
        <td>2</td>
        <td>1</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--2ºANO 2ºSEMESTRE-->
    <tr>
        <td>Computer Networksre</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decision Support Systems</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Finantial Management</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Analysis and Systems Design</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Web Programming</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--3ºANO 1ºSEMESTRE-->
    <tr>
        <td>Data Mining</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Human-Machine Interaction</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mobile Business Systemsre</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Software Engrineering</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--3ºANO 2ºSEMESTRE-->
    <tr>
        <td>Artificial Intelligence</td>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Cloud information Systems</td>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Information Systems Auditing</td>
        <td>3</td>
        <td>2</td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Management Control</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Motivation and Leadershio</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Final Course Work</td>
        <td>3</td>
        <td>1 e 2</td>
        <td>20</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<h3>Certifications</h3>
<div class="courses-lists">
    <ul>
        <li>ITIL v3 Bridge Certification</li>
        <li>ITIL v2 Foundations Certification</li>
    </ul>
</div>

<h3>Other Courses</h3>
<div class="courses-lists">
    <ul>
        <li>Project Management</li>
        <li>ITIL / ISO 20000</li>
        <li>Business Intelligence com Qlik Sense - Analytics</li>
        <li>MVA - Analyzing and Visualizing Data with Excel</li>
        <li>MVA - Análises e Relatórios em Excel</li>
        <li>MVA - Data Analysis with Excel</li>
        <li>MVA - Database Fundamentals</li>
        <li>MVA - Designing Business Intelligence Solutions</li>
        <li>MVA - Faster Insights to Data with Power BI Jump Start</li>
        <li>MVA - From Data to Insight and Impact: The BI Revolution</li>
    </ul>
</div>
</br></br></br></br></br>

{% endblock %}