<!-- home.html -->

{% extends 'portfolio/layoutHero.html' %}

{% load static %}

{% block main %}
<main class="background-image">
    <div class="motivational_header">
        <h2>Hi! I'M MIGUEL</h2>
        <div class="motivational_text">
            <p><b>Analyzing and visualizing data to make better and informed business decisions.</b></p></br></br></br>
            <a href="{% url 'portfolio:home' %}#aboutMe" class="btn btn-primary btn-xl page-scroll">About me</a>
        </div>
    </div>
</main>
{% endblock %}


{% block article-1 %}
<article-1 id="aboutMe">
    <figure class="article-container-photo">
        {% load static %}
        <img src="{% static 'portfolio/images/MSP&B2.jpg' %}"
             style="border-color: #c5962d; border-style: double; border-color: black;">
    </figure>

    <p class="article-container-text">I am goal driven and client oriented. With both efficacy and efficiency in mind,
        I can contribute with appropriate solutions for different business contexts.</p>

    <div class="article-container-button"><a href="{% static 'portfolio/images/MIGUELSOARES_RESUME_EN_2023.pdf' %}"
                                             target="blank_" class="btn btn-primary btn-xl">RESUME</a>
    </div>
</article-1>
{% endblock article-1 %}


{% block article-2 %}
<article-2 id="projects">
    <h1 class="titulo-pagina">PROJECTS</h1>

    {% for project in ProjectsList %}
    <div class="projetos">
        <div>
            <div><img src="{{ project.image.url }}"></div>
            <div class="projetos-text">
                <h4><b>{{ project.curricular_unit }}</b></h4>
                <p><b>{{ project.title }}</b></p></br>
                <p>{{ project.description }}</p>
                </br></br>
                {% if user.is_authenticated %}
                <p style="text-align: right; font-size: 0.8rem"><a style="text-decoration: none" href="{% url 'portfolio:edit_project' project.id %}">Edit</a> |
                    <a style="text-decoration: none" href="{% url 'portfolio:remove_project' project.id %}">Delete</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </br>
            {% if user.is_authenticated %}
        <h4 style="text-align: center"><a style="text-decoration: none" href="{% url 'portfolio:add_project' %}">Add new project</a></h4>
        {% endif %}
</article-2>
</div>
{% endblock article-2 %}
