<!doctype html>
<html lang="en">
<head>
    <title>MSoares Portfolio</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="Miguel Soares" name="author">
    <meta content="O meu portfólio" name="description">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
            rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/fa5f8f8cfb.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>


    {% load static %}
    <link href="{% static 'portfolio/css/style-light.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/images/MS9.png' %}" rel="icon" sizes="any" type="image/x-icon">
    <script src="{% static 'portfolio/js/script.js' %}" type="application/javascript"></script>

</head>

<body onload="loadStyle()">

<div class="grid-container-hero">
    <name class="name-container">
        <p class="name-style">MIGUEL SOARES</p>
    </name>
    <menu class="menu-container">
        <nav>
            <a href="{% url 'portfolio:home' %}">HOME</a>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="#">ABOUT ME</a>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:home' %}#aboutMe">ABOUT ME HOME</a>
                    <a href="{% url 'portfolio:home' %}#projects">PROJECTS</a>
                    <a href="{% url 'portfolio:courses' %}">COURSES</a>
                    {% load static %}
                    <a href="{% static 'portfolio/images/MIGUELSOARES_RESUME_EN_2023.pdf' %}" target="blank_">RESUME</a>
                </div>
            </div>
            <a href="{% url 'portfolio:playground' %}">PLAYGROUND</a>
            <a href="{% url 'portfolio:webDev' %}">WEB DEV</a>
            <a href="{% url 'portfolio:blog' %}">BLOG</a>
            <a href="{% url 'portfolio:about' %}">ABOUT</a>
        </nav>
        <button><span class="material-symbols-outlined" id="darkModeBtn">clear_day</span></button>
    </menu>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <article-1>
        {% block article-1 %}
        {% endblock article-1 %}
    </article-1>

    <article-2>
        {% block article-2 %}
        {% endblock article-2 %}
    </article-2>

    <footer>
        <div class="footer-conteiner">

            <div class="footer-col-1">
                <h4 class="footer-header">Useful Links</h4>
                <ul>
                    <li><a href="{% url 'portfolio:home' %}#aboutMe">About Me</a></li>
                    <li><a href="{% url 'portfolio:sitemap' %}">Site Map</a></li>
                    <li><a href="https://www.ulusofona.pt/" target="_blank">U.Lusófona</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h4 class="footer-header">Author</h4>
                <ul>
                    <li>
                        <p>Miguel Soares | 21706025</p>
                    </li>
                    <li>
                        <p>Universidade Lusófona</p>
                    </li>
                    <li>
                        <p>2023</p>
                    </li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h4 class="footer-header">Contact</h4>
                <ul>
                    <li>
                        <p><i class="fa-solid fa-house"></i> Rua do Miguel 1, 1600-000 Lisboa</p>
                    </li>
                    <li>
                        <p><i class="fa-solid fa-envelope"></i> miguel.m.soares@netcabo.pt</p>
                    </li>
                    <li>
                        <p><i class="fa-solid fa-mobile-screen-button"></i> 987654321</p>
                    </li>
                </ul>
            </div>
            <div class="footer-col-3">
                <h4 class="footer-header">Follow Me</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/miguel.soares.12576" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/miguel-morais-soares/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/MiguelMSoares21706025" target="_blank"><i
                            class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>

</html>